.car-detail {
    color: black; 
  margin-right: 10px;
    margin-left: 20px; 
 }
 .review-text {
    color: black;
    border-bottom: solid;
 }

 #comment {
   width: 1000px;
   height: 100px;
 margin-left: 10px;
 }
 .form-group {
   margin-left: 10px;
   margin-bottom: 20px;
 }
 .second-text{
  color: crimson;
 }

.no-review {
  color: red;
}
.three-btn button {
  background-color: #78290f;
  color: #ffecd1;
  margin: 20px;
}
.car-info {
  width: 100%;
  color: #001524;
}
.car-info th {
  padding: 5px;
  border-radius: 10px;
  background-color: #15616d;
  color: #ffecd1;
  font-size: 1.2em;
  line-height: 30px;
}

.car-info td {
  padding: 5px 15px;
  font-size: 1.1em;
}
.car-table {
  width: 90%;
}
